body{
    margin: 0;
}
.navbar{
    margin: 0 auto;
    width: 1199px;
    height: 132px;
    
    margin-bottom: 50px;
}
.navbar-brand{
    padding-left: 114px;
    padding-right: 240px;
}
.navbar .contain_nav{
    height: inherit;
    display: flex;
    align-items: center;
    max-width: 1211px;
    margin: 0 auto;
}

.navbar_mobile{
    display: none;
    z-index: 2;
    width: 100%;
    height: 132px;
    margin-bottom: 100px;
}

.navbar_mobile-menu{
    list-style-type: none;
    opacity: 0,6;
    margin: 0 auto;
    z-index: 2;
}
.navbar_mobile-menu li {
    display: inline-block;
    padding: 60px 50px 10px 50px;
    text-decoration: none;
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;

}
.navbar_mobile-menu li a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}
.navbar_mobile-menu li a:hover{
color: #FFFFFF;
cursor: pointer;
transition: 0,75s;
}

.navbar_mobile-wrap{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 20px;
    z-index: 2;
}


.burger{
    display: none;
    margin: 2%;
    position: absolute;
     z-index: 2;
     float: right;
     align-items: center;
    justify-content: flex-end;
     width: 30px;
     height: 18px;
     margin-left: 340px;
     margin-top: -53px;
     
}
.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: gray;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: gray;
    transition: all 0.5s ease 0s;
}
.burger::before {top: 0}
.burger::after{bottom: 0}
.burger.active span {transform: scale(0); }

.burger.active::before{
    top: 0%;
    transform: rotate(-45deg) translate(0, -50%);
   
}
.burger.active::after{
    top: 0%;
    transform: rotate(45deg) translate(0, -50%);
    
}

.open{
    display: flex !important;
}

.navbar-menu li {
    display: inline-block;
    padding: 30px;
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
.navbar-menu li a{
    display: inline-block;
    color: #000;
    opacity: 0.8;
    text-decoration: none;
}

.navbar-menu li a:hover {
    color: #000;
    cursor: pointer;
    transition: 0,75s;
    opacity: 1;
}

.navbar-wrap{
    display:flex;
    flex-flow: row nowrap;
    font-size: 20px;
    
}

.contain_article{
    height: inherit;
    display: flex;
    align-items: center;
    max-width: 1199px;
    margin: 0 auto;
}
.timetable{
padding: 0px 115px;
width: 1199px;
height: 130px;

}
.events{
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.tour-schedule{
    font-family: -apple-system,  'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    width: 520px;
    line-height: 0px;
    color: #333333;
}

.contain_blog{
    max-width: 1199px;
    margin: 51px auto;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}
.all_cards_blog{
    margin-left: 115px;
    display: flex;
    flex-direction: column;
    gap:50px;
}
.blog_card{
    gap: 60px;
    display: flex;
    justify-content: space-between;
}
.image_block-first{
    width: 308.63px;
    height: 268px;
    background: rgba(147, 147, 147, 0.2);
}
.image_block-second{
    width: 308.63px;
    height: 268px;
    background: rgba(147, 147, 147, 0.2);
}
.image_block-third{
    width: 308.63px;
    height: 268px;
    background: rgba(147, 147, 147, 0.2);
}
.image_block-fourth{
    width: 308.63px;
    height: 268px;
    background: rgba(147, 147, 147, 0.2);
}

.blog_section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;
}
.blog_section_time{
    font-family: -apple-system,  'Bebas Neue', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
color: #333333;
}

.blog_section_travel{
    font-family: 'Golos Text';
font-style: normal;
font-weight: 500;
font-size: 29px;
line-height: 35px;
width: 100%;
color: #333333;
}

.blog_information{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;
}

.blog_article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.blog_article_information{
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #3F3F3F;
}

.main-button{
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 12px 34px;
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #333333;
    width: 145px;
    height: 45px;
    border: 2px solid #272525;
    border-radius: 5px;
    text-decoration: none;
    }
    .main-button:hover{
        background: #333333;
        color: #FFFFFF;
        transition: 1.25s;
    }

.footer{
display: flex;
flex-wrap: wrap;
margin: 0 auto;
width: 1199px;
height: 255px;
background: #000000;
margin-top: 200px;

}
.user{
padding-left: 60px;
display: flex;
flex-direction: column;
width: 359px;
height: 120px;
}
.user li{
text-decoration: none;
list-style-type: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
color: #6F6F6F;
margin: 14px auto;
cursor: pointer;
}
.menu{
display: flex;
flex-direction: column;
align-items: flex-start;
padding-right: 60px;
width: 56px;
height: 97px;
}
.menu li{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;
color: #FFFFFF;
margin: 13px auto;
text-decoration: none;
list-style-type: none;
cursor: pointer;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    width: 120px;
    height: 97px;
}
.links li{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    width: 120px;
    color: #FFFFFF;
    margin: 13px auto;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}
.rights{
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    }
.rights li{
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #6F6F6F;
    margin: 14px auto;
}
.contain_main-footer{
margin-top: 54px;
display: flex;
flex-wrap: wrap;
gap: 50px;
}

@media (max-width:1600px){
    .footer{
        width: 100%;
        margin-top: 300px;
    }
    .contain_main-footer{
        margin: 0 auto;
    }
    ul{
        margin-left: -45px;
    }
}
@media (max-width:1440px){
    .navbar{
        width: 100%;
    }
    
    .navbar-brand{
        padding-left: 114px;
        padding-right: 200px;
        padding-top: 35px ;
    }
    
    .navbar-menu li {
        padding: 20px;
    }

    
    .acall-text{
        font-size: 12px;
        padding-bottom: 20px;
    }
    .navbar-menu li{
        font-size: 16px;
        padding: 40px 20px 0px 20px;
    }
    
    .contain_main-footer{
        margin: 0 auto;
    }
    .user{
        width: 310px;
    }
    .rights{
        padding-left: 10px;
    }
    .links{
        padding-left: 0px;
    }
    ul{
        margin-left: -55px;
    }
}


@media (max-width:1039px){
    .footer{
        margin-top: 100px;
    }
    .blog_card {
        gap: 30px;
    }
    .blog_article_information{
        font-size: 16px;
    }
    .all_cards_blog {
        margin-left: 50px;
    }
    
    ul{
        margin-left: 0px;
    }
    .navbar{
        width: 100%;
    }
}
@media (max-width:1039px){
    .rights{
        display: none;
    }

}
@media (max-width:910px){
    
    .all_cards_blog{
        margin-left: 10px;
    }
    .navbar_mobile{
        margin-bottom: 0px;
        height: 10px;
        z-index: 10;
        
    }
    .navbar_mobile-menu li{
        font-size: 16px;
        display: flex;
        padding: 30px;
    }
    .contain_main-tours{
        margin-left: -95px;
        margin-right: 10px;
        margin-top: 5px;
    }
    
    .links{
        display: none;
    }
    .menu{
        display: none;
    }
    
    ul{
        margin-left: -5px;
        
    }
    .user{
        margin-top: 60px;
    }
    .timetable{
        padding: 0 10px;
    }
    .tour-schedule{
        font-size: 40px;
    }
    .navbar-brand{
        padding-left: 10px;
        padding-right: 0px;
    }
    .navbar-wrap{
    margin-left: 120px;
    }
    .navbar_mobile-wrap{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 20px;
    width: 35%;
    height: 24px;
    }
    .navbar_mobile-menu{
        padding-left: 115px;
    }
    .navbar_mobile-menu li{
    padding: 31px 20px 17px 34px;
    }
    .navbar{
        width: 100%;
    }
    .blog_card{
        gap: 60px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:670px){
    
    
    .navbar_mobile{
        display: flex;
    }
    .burger{
        display: flex;
    }
    .navbar_mobile-menu{
        display: none;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
        height: 300px;
        z-index: 11;
    }
    .navbar_mobile{
        margin-bottom: 0px;
        height: 10px;
        z-index: 10;
        
    }
    .navbar_mobile-menu li{
        font-size: 16px;
        display: flex;
        padding: 30px;
    }
    .contain_main-tours{
        margin-left: -95px;
        margin-right: 10px;
        margin-top: 5px;
    }
   
    .links{
        display: none;
    }
    .menu{
        display: none;
    }
    .rights{
        display: none;
    }
    ul{
        margin-left: -5px;
        
    }
    .user{
        margin-top: 60px;
    }
    .timetable{
        padding: 0 10px;
    }
    .tour-schedule{
        font-size: 40px;
    }
    .navbar-brand{
        padding-left: 20px;
        padding-right: 0px;
    }
    .navbar-wrap{
        display: none;
    }
    .navbar_mobile-wrap{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 24px;
    }
    .navbar_mobile-menu{
        padding-left: 115px;
    }
    .navbar_mobile-menu li{
    padding: 31px 20px 17px 34px;
    }
    .tour-schedule{
        width: 100%;
    }

}
@media (max-width:420px){
    
    .burger{
        margin-left: 360px;
    }
    .navbar_mobile-menu {
        padding-left: 91px;
    }
    .tour-schedule {
        font-size: 35px;
    }
}

@media (max-width:390px){
    
    .burger{
        margin-left: 330px;
    }
    .navbar_mobile-menu {
        padding-left: 91px;
    }
    .tour-schedule {
        font-size: 35px;
    }
}



@media (max-width:320px){
    
    .burger{
        margin-left: 274px;
    }
    .navbar_mobile-menu {
        padding-left: 91px;
    }
    .tour-schedule {
        font-size: 35px;
    }
}